{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="col-9">
            <form class="searchbar" method="post">
                <input type="text" placeholder="Search by pet name...">
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
        
            {% for photo in photos %}
             {% include 'common/photo-detail.html' with photo=photo %}
                <a href="{% url 'details-photo' photo.pk %}">
                        <h4 class="details">See details</h4>
                </a>
                                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}