{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="col-9">
{% include 'common/photo-detail.html' with photo=object%}
                                <h5 class="postTime">{{ photo.date_of_publication }}</h5>

                    <div class="addComments">

                        <form method="post" action="{% url 'comment' photo.id %}">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Post</button>
                        </form>
                    </div>
            <ul>{% for comment in photo.comments.all %}
                <li>{{ comment.text }}</li>
            {% endfor %}</ul>
        </div>
    </div>                </div>
            </div>

</main>
{% endblock %}